<!-- your_app/templates/news_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... your head content ... -->
</head>
<body>

<h1>News List</h1>

<ul id="newsList">
    {% for news_item in news_data %}
        <li class="newsItem">
            <strong>{{ news_item.title }}</strong>: {{ news_item.description }} - <a href="{{ news_item.link }}" target="_blank">Read more</a>

            <!-- Display the rating or 0 if not available -->
            <div>
                <strong>Rating:</strong> {{ news_item.rating }}
            </div>

              <!-- Form to submit a new rating -->
            <form method="post" action="{% url 'update_rating' %}">
                {% csrf_token %}
                <input type="hidden" name="news_id" value="{{ news_item.id }}">
                <label for="new_rating">New Rating (1-5): </label>
                <input type="number" name="new_rating" id="new_rating" min="1" max="5" required>
                <button type="submit">Submit Rating</button>
            </form>
        </li>
    {% endfor %}
</ul>
<div class="recommendationButton">
    {% if request.session.user_id %}
        <a href="{% url 'recommend' user_id=request.session.user_id %}" class="button">Get Recommendations</a>
    {% else %}
        <a href="{% url 'user_login' %}" class="button">Login to Get Recommendations</a>
    {% endif %}
</div>
</body>
</html>
