<!-- your_app/templates/news_list.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/news_list.css' %}">
</head>
<body>

<h1>News List</h1>

<ol style="--length: {{ news_data|length }}" role="list">
    {% for news_item in news_data %}
    <li style="--i: {{ forloop.counter }}">
        <h3>{{ news_item.title }}</h3>
        <p> Description: {{ news_item.description }}
        <a href="{{ news_item.link }}" target="_blank">Read more</a>
        </p>

        <!-- Display the rating or 0 if not available -->
        <div>
            <p>Rating: {{ news_item.rating }}</p>
        </div>

        <!-- Form to submit a new rating -->
        <form method="post" action="{% url 'update_rating' %}">
            {% csrf_token %}
            <input type="hidden" name="news_id" value="{{ news_item.id }}">
            <label for="new_rating">New Rating (1-5): </label>
            <input type="number" name="new_rating" id="new_rating" min="1" max="5" required>
            <button type="submit">Submit Rating</button>
        </form>
    </li>
    {% endfor %}
</ol>
<div class="recommendationButton">
    {% if request.session.user_id %}
    <a href="{% url 'recommend' user_id=request.session.user_id %}" class="button">Get Recommendations</a>
    {% else %}
    <a href="{% url 'user_login' %}" class="button">Login to Get Recommendations</a>
    {% endif %}
</div>

<!-- Logout button -->
<div class="logoutButton">
    {% if request.session.user_id %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}
</div>
</body>
</html>
