<!-- your_app/templates/recommendations.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{% static 'styles/recommendations.css' %}">
</head>
<body>

<h1>Recommendations</h1>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const starRatingForm = document.querySelector('.star-rating-form');
        const starInputs = document.querySelectorAll('.star-rating input');

        starInputs.forEach(function (input) {
            input.addEventListener('click', function () {
                starRatingForm.submit();
            });
        });
    });
</script>


{% if recommendations %}
<ol style="--length: {{ news_data|length }}" role="list">
    {% for news_item in recommendations %}
    <li style="--i: {{ forloop.counter }}">
        <h3>{{ news_item.title }}</h3>
        <p>Descriere: {{ news_item.description }}
            <a href="{{ news_item.link }}"
               target="_blank">Read more</a>
        </p>
        <div>
            <strong>Rating:</strong> {{ news_item.rating }}
        </div>

        <!-- Form to submit a new rating for recommended items -->
        <form method="post" action="{% url 'update_rating' %}">
            {% csrf_token %}
            <input type="hidden" name="news_id" value="{{ news_item.id }}">
            <label for="new_rating">New Rating (1-5): </label>
            <input type="number" name="new_rating" id="new_rating" min="1" max="5" required>
            <button type="submit">Submit Rating</button>
        </form>
    </li>
    {% endfor %}
</ol>
<a href="{% url 'get_all_news' %}">
    <button>Home</button>
</a>

{% else %}
<p>No recommendations available.</p>
{% endif %}

</body>
</html>
