body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.entry {
    padding-bottom: 20px;
    width: 100%;
}

.entry input {
    border-radius: 5px;
    width: 100%;
}

.bttn-login {
    background-color: gray;
    color: #1b1b1b;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}