{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

</head>
<div class="login-container">
    <h2>Already have an account? Login here:</h2>
    <form id="loginForm" method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="entry">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div class="entry">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
        </div>

        <!-- Mesajul de eroare în caz de eșec la autentificare -->
        <div id="login-error-message" style="color: red;"></div>

        <!-- Butonul de login cu tip submit -->
        <button type="submit" class="bttn-login">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'create_user' %}">Register here</a>.</p>

</div>


<script>
    document.getElementById("loginForm").addEventListener("submit", async function (event) {
        event.preventDefault();


        const response = await fetch("{% url 'user_login' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                username: document.getElementById("username").value,
                password: document.getElementById("password").value,

            }),
        });

        const data = await response.json();

        if (response.ok) {
            window.location.replace("{% url 'get_all_news' %}");
        } else {
            document.getElementById("login-error-message").innerText = data.error;
        }
    });
</script>
