{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

</head>
<body class="center-form">
<div>
    <h2>Already have an account? Login here:</h2>
    <form>
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3" id="login-bt">
            <button type="submit" id="submit-btt" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <p>Don't have an account? <a href="{% url 'create_user' %}">Register here</a>.</p>

</div>
</body>


<script>
    document.getElementById("loginForm").addEventListener("submit", async function (event) {
        event.preventDefault();


        const response = await fetch("{% url 'user_login' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                username: document.getElementById("login-username").value,
                password: document.getElementById("login-password").value,
            }),
        });

        const data = await response.json();

        if (response.ok) {
            window.location.replace("{% url 'get_all_news' %}");
        } else {
            document.getElementById("login-error-message").innerText = data.error;
        }
    });
</script>
