{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
<h2>User Registration</h2>
<form id="registrationForm" method="post" action="{% url 'create_user' %}">
    {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required><br>
    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email" required><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required><br>

    <!-- Placeholder for error message -->
    <div id="error-message" style="color: red;"></div>

    <!-- Butonul de înregistrare cu tip submit -->
    <button type="submit">Register</button>
</form>


<script>
    // Add an event listener for the registration form
    document.getElementById("registrationForm").addEventListener("submit", async function (event) {
        // Prevent the default event listener for the registration form
        event.preventDefault();

        // AJAX registration here

        const response = await fetch("{% url 'create_user' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                first_name: document.getElementById("first_name").value,
                last_name: document.getElementById("last_name").value,
                email: document.getElementById("email").value,
                username: document.getElementById("username").value,
                password: document.getElementById("password").value,
            }),
        });

        const data = await response.json();

        if (response.ok) {
            // Redirect to the login page after successful registration
            window.location.href = "{% url 'user_login' %}";
        } else {
            document.getElementById("error-message").innerText = data.error || 'An error occurred.';
        }
    });
</script>

</body>
</html>
