{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body class="center-form">
<div>
    <h2>User Registration</h2>
    <form id="registrationForm" method="post" action="{% url 'create_user' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="First Name" aria-label="First Name"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <button type="submit" id="submit-btt" class="btn btn-primary">Register</button>
        </div>
    </form>

    <!-- Placeholder for error message -->
    <div id="error-message" style="color: red;"></div>
</div>


<script>
    // Add an event listener for the registration form
    document.getElementById("registrationForm").addEventListener("submit", async function (event) {
        // Prevent the default event listener for the registration form
        event.preventDefault();

        // AJAX registration here

        const response = await fetch("{% url 'create_user' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                first_name: document.getElementById("first_name").value,
                last_name: document.getElementById("last_name").value,
                email: document.getElementById("email").value,
                username: document.getElementById("username").value,
                password: document.getElementById("password").value,
            }),
        });

        const data = await response.json();

        if (response.ok) {
            // Redirect to the login page after successful registration
            window.location.href = "{% url 'user_login' %}";
        } else {
            document.getElementById("error-message").innerText = data.error || 'An error occurred.';
        }
    });
</script>

</body>
</html>
